.text-blue {
    color: #1b91ff;
}

.text-red {
    color: #ff2c2d;
}

.text-green {
    color: #17ff2e;
}

.text-gold {
    color: #f9a602;
}

div.bg-dark {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
}

p.large-margin {
    margin: 50px 0;
}

p.no-margin {
    margin: 0;
}

p.text-xlarge {
    font-size: 5em;
}

p.text-large {
    font-size: 2em;
}

p.text-mid {
    font-size: 24pt;
}

p.text-small {
    font-size: 14pt;
}

div.plot {
    width: 90%;
    position: absolute;
    left: 3%;
}

div.plot-mid {
    width: 80%;
    position: absolute;
    left: 10%;
}

div.stats-bars.stats-spider {
    margin-left: auto;
}

div.stats-bars {
    width: 45%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 15px;
    background-color: rgba(0, 0, 0, 0.8);
}

.stats-bars h3 {
    line-height: 1;
}

.stats-bars p {
    margin: 10px 0;
    line-height: 1;
    text-align: left;
}

.stats-bars span.attribute {
    font-size: 14pt;
}

.stats-bars span.text-muted {
    font-size: 12pt;
    color: #ececec;
}
